<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>393481861829-bfjck366618umhru8484ftscr2sgskj2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.393481861829-bfjck366618umhru8484ftscr2sgskj2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>393481861829-3i9psji2kvul66dp5sk5c99pg0m3drr1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAHLQMYXpkcuZ3mrS78dm_fRCFwe4ImP_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>393481861829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.TakeStockInChildren</string>
	<key>PROJECT_ID</key>
	<string>takestockinchildren-427bb</string>
	<key>STORAGE_BUCKET</key>
	<string>takestockinchildren-427bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393481861829:ios:734ff3398d227d08</string>
	<key>DATABASE_URL</key>
	<string>https://takestockinchildren-427bb.firebaseio.com</string>
</dict>
</plist>